{% extends 'base/base.html' %}}
{% load static %}
{% block title %}
    {{title}}
{% endblock title %}
{% block content %}
            <div class="col">
                <center><h1>{{message}}</h1></center>
                <ul class="list-group">
                    {% for product in products %}
                    <li class="list-group-item">
                        {{product.title}}
                        <span class="text-success">{{product.price}}</span>
                    </li>
                    {% empty %}
                        <h3>No hay productos en la tienda esta pelado</h3>
                    {% endfor %}
                </ul>
                <img src="{% static 'img/playera.jpg' %}" alt="">      
            </div>
        </div>
    </div>

{% endblock content %}