{% extends 'base/base.html' %}}
{% load static %}
{% block title %}
    {{title}}
{% endblock title %}
{% block content %}
    <div class="col">
        <h4 class="text-center">{{message}}</h4>
        {% include 'snipped/s_search.html'  %}
        <div class="row">
        {% for object in products %}
            <div class="col-3 mt-4">
                {% include 'snipped/s_product.html' with product=object %}
            </div>
            {% empty %}
                <h3>No hay productos en la tienda por el paro</h3>
        {% endfor %}
        </div>
    </div>
{% endblock content %}