{% extends 'base/base.html' %}
{% load product_extras %}

{% block content %}

    {% if carts.products.exits %}
        <div class="col-8">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Precio</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in cart.products.all %}
                        <tr>
                            <th>{{forloop.counter}}</th>
                            <th>
                                {% if product.image %}
                                    <img src="{{product.image.url}}" alt="Imagen del producto" width="60" height="60">
                                {% endif %}
                            </th>
                            <th>
                                <a href="{% url 'products:product' product.slugs %}">{{product.title}}</a>
                            </th>
                            <th>1</th>
                            <th>
                                <span class="font-weight-bold text-danger">{{product.price | price.format}}</span>
                            </th>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col">

        </div>
    {% else %}
        <div class="col">
            <p class="h3">Tu carrito esta vacio</p>
            <a href="{% url 'products:index' %}">Seguir comprando</a>
        </div>
    {% endif %}
{% endblock content %}


