<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orden completada</title>
</head>
<body>
    <div class="">
        <h3>{{user.username}} Tu pedido ha sido enviado</h3>
        <p>
            El pedido se enviara a la siguiente direccion {{order.shipping_address}}
        </p>
        <p>
            Puedes visitar la pagina para ver tus pedidos
        </p>
        <a href="{{next_url}}" target="_blank">Mis Pedidos</a>
    </div>
</body>
</html>