venv/*
static/img/*
__pycache__/*
db.sqlite3/*
migrations/*
media/*
users/migrations/*
users/__pycache__/*
categories/migrations/*
categories/__pycache__/*
carts/migrations/*
carts/__pycache__/*
products/templatetags/__pycache__/*
orders/__pycache__/*
orders/migrations/*


